<!-- tempaltes/recipe_detail.html -->

{% extends 'base.html' %}

{%block content %}
    <div class="submenu">
        <a href="{% url 'recipe_new' %}">New Recipe</a>
        <a href="{% url 'recipe_edit' recipe.id %}">Edit Recipe</a>
        <a href="{% url 'recipe_delete' recipe.id %}">Delete Recipe</a>
    </div>
    <main>
        <div class="recipe-detail">
            <h2>{{ recipe.name }}</h2>
            <p>Prep Time: {{ recipe.prep_time }}</p>
            <p>Cook Time: {{ recipe.cook_time }}</p>            
            <p>Servings: {{ recipe.servings }}  |  
                <label for="multiplier">Multiplier: </label>
                <select name="mulitplier" id="multiplier">
                    <option value="1" selected="selected">1</option>
                    <!--<option value="1">1</option>-->
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </p>
            <h3>Ingredients</h3>
            <ul>
                {% for recipeingredient in recipe.recipeingredient_set.all %}
                    <li><span class="ing_qty">{{ recipeingredient.quantity }}</span> {{ recipeingredient.units }} {{ recipeingredient.ingredient }}
                        {% if recipeingredient.style == "" %}
                            </li>
                        {% else %}
                            - {{recipeingredient.style }}</li>
                        {% endif %}
                    
                {% empty %}
                    <li>No ingredients</li>
                {% endfor %}
            </ul>
            <h3>Directions</h3>
            <p>{{ recipe.directions }}</p>
        </div>
    </main>
    <script type="text/javascript">
        const a = document.getElementById("multiplier");
        a.addEventListener("change", multiply_ings);
        
        // TODO - figure out how to store the original quantities to prevent layering successive multiplications
        function multiply_ings() {
            var mult = document.getElementById("multiplier");
            var qtys = document.getElementsByClassName("ing_qty");
            for (i=0; i < qtys.length; i++) {
                qtys[i].innerHTML = parseFloat(qtys[i].innerHTML) * parseFloat(mult.options[mult.selectedIndex].value);
                //alert(qtys[i].innerHTML);
            }
        }

    </script>
{% endblock content %}