<!-- templates/recipe_edit.html -->

{% extends 'base.html' %}

{% block content %}
    <div class="submenu">
        <a href="{% url 'recipe_new' %}">New Recipe</a>
        <span> // </span>
        <a href="{% url 'ingredients' %}">Ingredients</a>
        <span> // </span>

    </div> 
    <main>
        <h2>Edit Recipe</h2>
        <form action="" method="post">
            {% csrf_token %}
            
            <p>Name: {{ recipe_form.name }}</p>
            <p>Prep Time: {{ recipe_form.prep_time }}</p>
            <p>Cook Time: {{ recipe_form.cook_time }}</p>
            <p>Servings: {{ recipe_form.servings }}</p>
            

            <h3>Ingredients</h3>
            
            
            <table>
                <tr>
                    <th>Ingredient</th>
                    <th>Qty</th>
                    <th>Units</th>
                    <th>Style</th>
                </tr>
                {% for recipeingredient in recipeingredient_forms %}
                    <tr>
                        <td>{{ recipeingredient.ingredient }}</td>
                        <td>{{ recipeingredient.quantity }}</td>
                        <td>{{ recipeingredient.units }}</td>
                        <td>{{ recipeingredient.style }}</td>
                    </tr>
                {% endfor %}         
            </table>
            <a href="#">+ Add Ingredient</a>
            <h3>Directions</h3>
            <p>{{ recipe_form.directions }}</p>
            <input type="submit" value="Update">
        </form>
    </main>

{% endblock content %}