<!-- templates/recipe_edit.html -->

{% extends 'base.html' %}

{% block content %}
    <main>
        <h3>Edit Recipe</h3>
        <form action="" method="post">
            {% csrf_token %}
            
            <p>Name: {{ recipe_form.name }}</p>
            <p>Type: {{ recipe_form.type }}</p>
            <p>Prep Time: {{ recipe_form.prep_time }}</p>
            <p>Cook Time: {{ recipe_form.cook_time }}</p>
            <p>Servings: {{ recipe_form.servings }}</p>
            
            <!--{{ recipe_form.as_p }}-->

            <h3>Ingredients</h3>
            {% for recipeingredient in recipeingredient_forms %}
                <p>{{ recipeingredient.ingredient }}{{ recipeingredient.quantity }}{{ recipeingredient.units }}{{ recipeingredient.style }}</p>
            {% endfor %}
            <h3>Directions</h3>
            <p>{{ recipe_form.directions }}</p>
            <input type="submit" value="Update">
        </form>
    </main>

{% endblock content %}